<!DOCTYPE html>
<html>
    <head>
        <title>0bRSS</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <header id="pageheader">
            <button id="show-aside-button">&#9776;</button>

            0bRSS

            {# Button to open and close the right hand side menu #}
            <button id="header-menu-button">&#8942;</button>

            {# Right hand side menu itself #}
            <nav id="header-menu">
                <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </nav>
        </header>

        <aside id="aside-menu"><nav></nav></aside>

        <div id="content"></div>
    </body>


    {# Start feed-menu-handlebars-template #}
    <script id="feed-menu-template" type="text/x-handlebars-template">
        {% verbatim %}
            <i class="fa fa-rss-square"></i> {{name}} <span class="unread">{{unread}}</span>
        {% endverbatim %}
    </script>
    {# End feed-menu-handlebars-template #}

    {# Start news-card-handlebars-template #}
    <script id="news-card-template" type="text/x-handlebars-template">
        {% verbatim %}
            <header>
                {{{title}}}
                <span class="extras">
                    <!-- <i class="fa fa-star"></i> Icons for future usage <i class="fa fa-star-o"></i> -->
                    <a href="{{{uri}}}" target="_blank" class="fa fa-external-link"></a>
                </span>
            </header>
            <div class="article-body">
                {{{body}}}
            </div>
            <footer>
                {{date}} {{starred}}
            </footer>
        {% endverbatim %}
    </script>
    {# End news-card-handlebars-template #}

    {# Set API-URI so JS can use it #}
    <script>window.ZerobRSS = { apiUri: '/api' };</script>

    {# Include JavaScript files #}
    <script src="/assets/js/Auth.js"></script>

    {# Misc layout functions #}
    <script src="/assets/js/aside-menu.js"></script>
    <script src="/assets/js/header-menu.js"></script>
</html>
