{% extends 'layout.twig' %}

{% block aside %}
    <nav>
        {% for feed in feeds %}
            <a href="{{ baseUrl() }}/read/{{ feed.id }}">
                <i class="fa fa-rss-square"></i> {{ feed.name }} <span class="unread">{{ feed.unread }}</span>
            </a>
        {% endfor %}
    </nav>
{% endblock %}

{% block content %}
    {% for article in articles %}
        <article>
            <header>
                {{ article.title|raw }}
                <span class="extras">
                    <a href="{{ article.uri }}" target="_blank" class="fa fa-external-link"></a>
                </span>
            </header>
            <p>
                {{ article.body|raw }}
            </p>
            <footer>
                {{ article.date }} {{ article.read }} {{ article.starred }}
            </footer>
        </article>
    {% endfor %}
{% endblock %}
