{% extends 'layout.twig' %}

{% block content %}
    {% for article in articles %}
        <article>
            <header>
                {{ article.title|raw }}
                <span class="extras">
                    {# <i class="fa fa-star"></i> Icons for future usage <i class="fa fa-star-o"></i> #}
                    <a href="{{ article.uri|raw }}" target="_blank" class="fa fa-external-link"></a>
                </span>
            </header>
            <p>
                {{ article.body|raw }}
            </p>
            <footer>
                {{ article.date }} {{ article.read }} {{ article.starred }}
            </footer>
        </article>
    {% endfor %}
{% endblock %}
