<!DOCTYPE html>
<html>
    <head>
        <title>0bRSS</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/style.css" />
    </head>
    <body>
        <header>
            {% if not hide_aside %}
                <button id="show-aside-button" class="fa fa-bars"></button>
            {% endif %}

            0bRSS

            {% if not hide_header_menu %}
                {# Button to open and close the right hand side menu #}
                <button id="header-menu-button" class="fa fa-ellipsis-v"></button>

                {# Right hand side menu itself #}
                <nav id="header-menu">
                    <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                </nav>
            {% endif %}
        </header>

        {% if not hide_aside %}
            <aside id="aside-menu">
                {{ block('aside') }}
            </aside>
        {% endif %}

        <div id="content"{{ hide_aside ? ' class="fullwidth"' }}>
            {{ block('content') }}
        </div>
    </body>

    <script src="//ajax.googleapis.com/ajax/libs/mootools/1.5.1/mootools-yui-compressed.js"></script>
    <script src="{{ baseUrl() }}/assets/js/header-menu.js"></script>
    <script src="{{ baseUrl() }}/assets/js/aside-menu.js"></script>
</html>
